<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSource" value="54.200.166.90" />
    <add key="InitialCatalog " value="capstoneproject"/>
    <add key="UserID" value="root"/>
    <add key="Password" value="LolCat5!"/>
  </appSettings>
</configuration>